p {
    margin: 0px;
}
  
body {
    font-family: Roboto, Arial;
    margin: auto;
    padding-top: 120px;
    max-width: 980px;
}

footer{
    margin-top: 200px;
    text-align: center;
    padding: 17px 0px;
}

.footer-button{
    height: 30px;
    background: none;
    border: none;
    color: rgb(114, 114, 114);
    cursor:pointer;
    font-size: 15px; 
}

@media(max-width:780px){
    body{
        padding-top: 100px;

    }
}

@media(max-width:450px){
    body{
        padding-top: 70px;

    }
}