.data-sect{
    margin: 200px 30px 0px ;
    max-width: 980px;
    padding: 0 5%;
}

.data-submit-title{
    font-size: 22px;
}

.data-sub-cont{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px 15px;
    grid-template-areas:
    "dtnme dtnme dtnme dteml dteml dteml"
    "dtaddr dtaddr dtaddr dtaddr dtaddr dtaddr"
    "dtcty dtcty dtpvn dtpvn dtpst dtpst"
    "dtchk dtchk dtchk dtchk dtchk dtchk"
    "dtrdo dtrdo dtrdo dtrdo dtrdo dtrdo"
    "dttxt dttxt dttxt dttxt dttxt dttxt"
    "dtsgn dtsgn dtsgn dtsgn dtsgn dtsmt ";
}

.data-name{
    grid-area: dtnme;
}
.data-email{
    grid-area: dteml;
}
.data-address{
    grid-area: dtaddr;
}
.data-city{
    grid-area: dtcty;
}
.data-province{
    grid-area: dtpvn;
}
.data-postal-code{
    grid-area: dtpst;
}
.data-check{
    grid-area: dtchk;
}
.data-radio{
    grid-area: dtrdo;
}
.data-textarea{
    grid-area: dttxt;
}
.data-signup{
    grid-area: dtsgn;
}
.data-submit{
    grid-area: dtsmt;
}




.select-check-radio{
    display: flex;
    column-gap: 15px;
}



.data-name,
.data-email,
.data-address,
.data-city,
.data-province,
.data-postal-code,
.data-textarea {
    height: 35px;
    border-radius: 10px;
    border-color: lightgray;
    border-width: 1px;
    border-style: solid;
    padding-left: 10px;
    font-size: 15px;
    transition: background-color 0.15s;
    transition: box-shadow 0.15s;
}
.data-province{
    height: 38px;
}
.data-textarea{
    width:auto;
    height:200px;
    resize: none;
    font-family: Roboto,Arial;
    padding: 6px 9px;
    
}

.data-name:focus,
.data-name:focus,
.data-email:focus,
.data-address:focus,
.data-city:focus,
.data-province:focus,
.data-postal-code:focus,
.data-textarea:focus {
    background-color: rgb(241, 241, 241, 0.15);
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.15);
}

.duck-race,
.tip-pizza{
    padding: 0px 0px 15px 20px ;
    color: rgb(143, 142, 142);
    font-size: 17px;
    font-weight: 500;
}

.left-option,
.middle-option,
.right-option{
    font-size: 15px;
    display: flex;
    align-items: center;
    width: 200px;   
}
.data-signup{
    font-size: 15px;
    display: flex;
    flex: 1;
    align-items: center;
}

.radio-check{
    height: 20px;
    width: 40px;
}

.data-submit{
    height: 35px;
    width: 95px;
    font-size: 15px;
    font-weight: 600;
    color: rgb(126, 159, 170);
    background-color: white;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    border-color:lightblue;
    cursor:pointer;
    transition: background-color 0.15s;
}

.data-submit:hover{
    color: white;
    background-color: rgb(159, 202, 216);
}


@media (max-width:600px) {
    .data-sub-cont{
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px 15px;
        grid-template-areas:
        "dtnme"
        "dteml"
        "dtaddr"
        "dtcty"
        "dtpvn"
        "dtpst"
        "dtchk"
        "dtrdo"
        "dttxt"
        "dtsgn"
        "dtsmt";
    }
    .select-check-radio{
        display: flex;
        row-gap: 15px;
        flex-direction: column;
    }
}