.text-sect{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 150px 30px 30px 30px;
    gap: 20px;
    align-items: center;
    grid-template-areas:
    "mnextxt mnexytb";
}

.why-bored-explained{
    grid-area: mnextxt;
    padding-right: 30px;
}

.why-bored-image{
    text-align: right;
}

.bored-image{
    margin-top: 15px;
    width: 66%;
}
.ssh-left-why-bored{
    padding: 0;
    padding-left: 15px;
    margin: 0;
    margin-top: 20px;
    font-size: 30px;
}
.list-style{
    list-style: none ;
    padding: 0;
    padding-left: 15px;
    margin: 0;
    margin-top: 10px;
    font-size: 15px;
    font-weight: 400;
}

.list-style li{
    margin-top: 5px;
}

.list-style li:before{
    content: "- ";
}

.vsauce-boredom{
    grid-area: mnexytb;
    text-align: center;
}

.vsauce-boredom-video{
    height: 315px;
    width: 560px;
}

@media (max-width:950px){
    .vsauce-boredom-video{
        height: 270px;
        width: 480px;
    }
    .ssh-left-why-bored{
        font-size: 25px;
    }
    .list-style{
        font-size: 14px;
        font-weight: 400;
    }
}




@media (max-width:840px){
    .text-sect{
        display: grid;
        grid-template-columns: 1fr;
        margin: 30px;
        gap: 70px;
        grid-template-areas:
        "mnextxt" 
        "mnexytb";
    }
    .vsauce-boredom-video{
        height: 315px;
        width: 560px;
    }
}

@media (max-width:650px){

    .vsauce-boredom-video{
        height: 270px;
        width: 480px;
    }
}

@media (max-width:550px){

    .vsauce-boredom-video{
        height: 225px;
        width: 400px;
    }
}

@media (max-width:450px){

    .vsauce-boredom-video{
        height: 180px;
        width: 320px;
    }
}