.main-sect{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0px 30px;
    gap: 20px;
    align-items: center;
    grid-template-areas:
    "mnttl mnimg";
}

.pms-left{
    grid-area: mnttl;
    border-radius: 20px;
    padding: 15px;
    background: linear-gradient(rgba(255, 255, 255, 1), rgba(251, 251, 251, 0.5) 100%), linear-gradient(90deg, #84d2ff, #8d5acd);   
}

.bored-duck-title{
    margin:0;
    font-size: 70px;
}

.bored-duck-text{
    margin: 0;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400; 
}

.get-bored-button{
    margin-top: 20px;
    background-color: rgba(0, 0, 0, 0.15);
    border-style: none;
    color: rgb(255, 255, 255);
    border-radius: 30px;
    cursor: pointer;
    padding: 15px 26px;
    font-weight: 600;
    font-size: 15px;
    transition: box-shadow 0.15s;
}

.get-bored-button:hover{
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
}

.pms-right{
    grid-area: mnimg;
    text-align: center;
}

.main-image{
    height: 350px;
}


@media (max-width :840px){
    .main-sect{
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
        grid-template-areas:
        "mnimg"
        "mnttl";
    }
}

@media (max-width :550px){
    .main-image{
        height: 220px; 
    }
    .bored-duck-title{
        margin:0;
        font-size: 55px;
    }
    
    .bored-duck-text{
        margin: 0;
        font-size: 13px;
        line-height: 19px;
        font-weight: 400; 
    }

    .get-bored-button{
        margin-top: 13px;
        border-radius: 22px;
        padding: 13px 20px;
        font-size: 12px;
    }
}